@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

::selection {
  color: green;
  background: yellow;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color: #f99f38;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #6a97a1;
}
